<h1>Hello!</h1>
<h2>Please enter your details</h2>
  <form action="/user_info" method="post">
  <div class="container">
    <label for="name">Your name:
      <input type="text" name="name" required>
    </label>
  <div class="container">
  <div class="container">
    When is your birthday?
    <label for="name">Day:
      <input type="text" name="day" required>
    </label>
    <label for="month">Month:
      <select name="month" id="month" class="dropdown">
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
    </label>
    <div class="container">
    <input type="submit" value="Confirm">
  </form>
</div>
